main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(../assets/svg/shape-circle.svg) no-repeat top;
  background-size: 400%;
  background-position-y: 100%;

  @import "./_header";

  @import "./_landing";
}