// Main Colors
$main-color: #95dbe5;
$main-color-lighter: #e8f5fb;
$main-color-darker: #7db8c0;
$secondary-color: #ff5c01;
// Main Font Colors
$main-font-color: black;
$secondary-font-color: white;
$third-font-color: #888;