@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body .block-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

body .block-screen .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 55%;
  background-color: white;
  border-radius: 0.3em;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

body .block-screen .sign-up--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  border-radius: 0.3em 0 0 0.3em;
  background-color: #eee;
}

body .block-screen .sign-up--img img {
  height: 95%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .block-screen .sign-up--controller {
  width: 50%;
  height: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .block-screen .sign-up--controller input {
  width: 70%;
  padding: 1em;
  border-radius: 1.8em;
  border: 1px solid transparent;
  background-color: #e8f5fb;
}

body .block-screen .sign-up--controller--note {
  color: #888;
  font-size: 0.8em;
  margin-top: -0.3em;
}

body .block-screen .sign-up--controller--btn {
  background-color: #ff5c01;
  color: white;
  width: 11em;
  height: 3em;
  border-radius: 3.2em;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

body .block-screen .sign-up--controller--btn:hover {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

body .block-screen .sign-up--controller--close-btn {
  position: absolute;
  top: -10px;
  right: 25px;
  background: url(../assets/svg/cross.svg) no-repeat center;
  width: 4%;
  height: 4%;
  border-radius: 50%;
  cursor: pointer;
}

body .block-screen .sign-up--controller--close-btn:hover {
  background-color: #eee;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(../assets/svg/shape-circle.svg) no-repeat top;
  background-size: 400%;
  background-position-y: 100%;
}

body main header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(transparent));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
}

body main header .header--logo {
  background: url(../assets/svg/logo.svg) no-repeat center;
  height: 100%;
  width: 8%;
  margin-left: 2%;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 1s ease filter;
  transition: 1s ease filter;
}

body main header .header--logo:hover {
  -webkit-filter: invert(0.8);
          filter: invert(0.8);
}

body main header nav {
  width: 90%;
  height: 10vh;
  text-align: center;
  margin-right: auto;
}

body main header nav .nav--menu-icon {
  display: none;
  background: url(../assets/svg/menu.svg) no-repeat center;
  background-size: 1.8em;
  height: 2.5em;
  width: 2.5em;
  background-color: #ff5c01;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 3vh;
  right: 3.5vw;
}

body main header nav .nav--close-icon {
  display: none;
  background: url(../assets/svg/cross.svg) no-repeat;
  -webkit-filter: invert(1);
          filter: invert(1);
  background-size: 1.2em;
  height: 2em;
  width: 2em;
  cursor: pointer;
  position: absolute;
  top: 4.5vh;
  right: 3vw;
  z-index: 2;
}

body main header nav .nav--pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 40%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-left: auto;
}

body main header nav .nav--pages li {
  margin: auto;
}

body main header nav .nav--pages li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

body main header nav .nav--pages-active, body main header nav .nav--pages li:hover {
  border-bottom: 2px #ff5c01 solid;
  padding-bottom: 0.1em;
}

body main .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 88.5%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10%;
}

body main .landing--img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30%;
}

body main .landing--sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18%;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 -15% 0 2%;
}

body main .landing--sign-up h1 {
  color: white;
  font-size: 40px;
}

body main .landing--sign-up .btn {
  background-color: #ff5c01;
  color: white;
  width: 11em;
  height: 3em;
  border-radius: 3.2em;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

body main .landing--sign-up .btn:hover {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

body .best-sellers {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .best-sellers--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  font-size: 1.2em;
}

body .best-sellers--header--icon {
  background: url(../assets/svg/shape-paw.svg) no-repeat center;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

body .best-sellers--products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 98vw;
  justify-content: center;
  margin: 20px;
}

body .best-sellers--products .product {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #e8f5fb), color-stop(60%, transparent));
  background: linear-gradient(0deg, #e8f5fb 60%, transparent 60%);
  border-radius: 2%;
  width: 300px;
  height: 300px;
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms ease height;
  transition: 500ms ease height;
}

body .best-sellers--products .product img {
  max-width: 100%;
  height: 200px;
}

body .best-sellers--products .product .description {
  margin: 0.5em 2em;
  text-align: center;
}

body .best-sellers--products .product .price {
  color: #ff5c01;
  font-weight: bold;
}

body .best-sellers--products .product .btn {
  display: none;
}

body .best-sellers--products .product:nth-child(2), body .best-sellers--products .product:hover {
  height: 350px;
}

body .best-sellers--products .product:nth-child(2) .btn, body .best-sellers--products .product:hover .btn {
  background-color: #ff5c01;
  color: white;
  width: 11em;
  height: 3em;
  border-radius: 3.2em;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  display: block;
  margin: 5% 0;
}

body .best-sellers--products .product:nth-child(2) .btn:hover, body .best-sellers--products .product:hover .btn:hover {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

body .story {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .story--img {
  position: relative;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-top: 10%;
  width: 35%;
}

body .story--img--blob {
  position: absolute;
  width: 80%;
  margin-top: -10%;
  margin-left: -15%;
}

body .story--img--circle {
  position: absolute;
  width: 76%;
  margin-top: 7%;
  margin-left: -3%;
}

body .story--img--animal {
  position: absolute;
  width: 72%;
}

body .story--article {
  width: 35%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .story--article--header {
  font-size: 30px;
}

body .story--article--paragraph {
  color: #888;
}

body .story--article .btn {
  background-color: #ff5c01;
  color: white;
  width: 11em;
  height: 3em;
  border-radius: 3.2em;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  margin-top: 1.5em;
}

body .story--article .btn:hover {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

body .pattern {
  background: url(../assets/images/pattern-desktop.png) no-repeat center;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .pattern--offer {
  width: 20%;
}

body .pattern--offer--icon {
  background: url(../assets/svg/shape-paw.svg) no-repeat center;
  height: 2.5em;
}

body .pattern--offer--header {
  font-size: 2.5em;
}

body .pattern--offer--notes {
  color: #888;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  width: 90%;
  padding-bottom: 3%;
  -webkit-box-shadow: 0px 2px #eee;
          box-shadow: 0px 2px #eee;
}

body footer .links--brand-icon {
  background: url(../assets/svg/logo.svg) no-repeat center;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 10%;
  height: 50%;
}

body footer .links--brand-icon:hover {
  -webkit-filter: contrast(0.05);
          filter: contrast(0.05);
}

body footer .links--links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
}

body footer .links--links-section ul {
  list-style-type: none;
  width: 50%;
}

body footer .links--links-section ul li {
  margin: 7%;
}

body footer .links--links-section ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
}

body footer .links--links-section ul li a:hover {
  color: black;
  font-weight: bold;
}

body footer .links--contact {
  width: 30%;
}

body footer .links--contact--sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body footer .links--contact--sign-up--text {
  color: #ff5c01;
  font-size: 1.5em;
  cursor: pointer;
}

body footer .links--contact--sign-up--arrow {
  background: url(../assets/svg/arrow-forward.svg) no-repeat center;
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
  cursor: pointer;
}

body footer .links--contact--social--links {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .links--contact--social--links li {
  width: 1.5em;
  height: 1.5em;
  margin-right: 7%;
  cursor: pointer;
}

body footer .links--contact--social--links li:hover {
  -webkit-filter: contrast(0);
          filter: contrast(0);
}

body footer .links--contact--social--links--facebook {
  background: url(../assets/svg/social-fb.svg) no-repeat center;
}

body footer .links--contact--social--links--instagram {
  background: url(../assets/svg/social-insta.svg) no-repeat center;
}

body footer .links--contact--social--links--twitter {
  background: url(../assets/svg/social-tw.svg) no-repeat center;
}

body footer .links--contact--social--links--youtube {
  background: url(../assets/svg/social-yt.svg) no-repeat center;
}

body footer .footer {
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer--payment--methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

body footer .footer--payment--methods li {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  cursor: pointer;
}

body footer .footer--payment--methods li:hover {
  -webkit-filter: contrast(0.9);
          filter: contrast(0.9);
}

body footer .footer--payment--methods--paypal {
  background: url(../assets/svg/payment-paypal.svg) no-repeat center;
}

body footer .footer--payment--methods--mastercard {
  background: url(../assets/svg/payment-mastercard.svg) no-repeat center;
}

body footer .footer--payment--methods--visa {
  background: url(../assets/svg/payment-via.svg) no-repeat center;
}

body footer .footer--payment--methods--amex {
  background: url(../assets/svg/payment-amex.svg) no-repeat center;
}

body footer .footer--payment--methods--maestro {
  background: url(../assets/svg/payment-maestro.svg) no-repeat center;
}

body footer .footer--payment--methods--klarna {
  background: url(../assets/svg/payment-klarna.svg) no-repeat center;
}

body footer .footer--payment--methods--applepay {
  background: url(../assets/svg/payment-apple.svg) no-repeat center;
}

body footer .footer--payment--methods--googlepay {
  background: url(../assets/svg/payment-google.svg) no-repeat center;
}

body footer .footer .copyright {
  color: #888;
}
/*# sourceMappingURL=style.css.map */